.gallery-cont{
  padding: 10px;
}
.watches{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 50px;
}
.watch-img{
  width: 250px !important;
  border: 2px solid #ECBEA6 !important;
  transition: transform 0.9s;
  border-radius: 0 !important;

}
.watch-img:hover{
  transform: translateY(-20px);
}